* {
  margin: 0;
}

h1 {
  font-size: 1.5rem;
  margin-top: 1.5rem;
}

html,
body {
  /* height: 100%; comentado pois estava dando problema*/
}

body {
  display: grid;
  place-items: center;
}

main {
  background: url(images/Mobile.png);
  width: 375px;
  height: 812px;
}

.container {
  max-width: 250px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

a {
  text-decoration: none;
  color: black;
}
